.header{
    background-color: blueviolet;
    border: 1px solid black;
    max-width: 100%;
    height:fit-content;
    display: flex;
    align-items: center;
}
.headerContent{
    margin-right: 5px;
    display: flex;
    justify-content: right;
    width: 100%;
}
.logoSize{
    height:50px;
}
.linkMargin{
    margin-right: 10px;
}
nav{
    display: inline;
    font-size: 40px;
}
body{
    padding:0;
    margin:0;
}
.container{
    margin-top: 10px;
    position: absolute;
    left: 50%;
    -webkit-transform: translate(-50%,0%);
    transform: translate(-50%,0%);
    width: 95%;
    height: 85%;
    display: flexbox;
}
.noticia{
    border: 1px solid black;
    display: block;
    width: 70%;
    height: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1%;
    text-align: center;
}
.texto{
    width:100%;
    height:fit-content;
    text-align: left;
    margin-left: 5px;
}
.imagem{
    margin-top: 2%;
    margin-bottom: 2%;
    width: 100%;
    display: block;
    margin-right: auto;
}
img:not(.logoSize){
    width:50%
}
h1{
    margin-left: 30px;
}